.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ANTONIO'S SECTION: AllPosts-post-display */

.cuteinsurgence-body-wrapper {
  border: solid 3px orange;
  margin: 15px;
  height: 100vh;
}



/* This is the all content inside of the single post */
.AllPosts-post-display {
  border: 1px solid black;
  height: 250px;
  width: 475px;
  display: inline-block;
  margin: 25px;
}

.cuteinsurgence-single-post {
  border: 1px solid black;
  width: 700px;
  display: inline-block;
  margin: 25px;
  padding: 15px;

}


.post-display-title {

}

.post-display-img {

}


.post-display-viewpost-btn {

}

