.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.posts-all {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 45px;
  border-radius: 10px;
  padding: 10px;
}

.posts-all-btn {
  margin: 15px;
 
}


.header-all {
  height: 330px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ANTONIO'S SECTION: AllPosts-post-display */

.cuteinsurgence-body-wrapper {
 
  margin: 15px;
}



/* This is the all content inside of the single post */
.AllPosts-post-display {

  margin: 25px;

}

.view-post-btn {
  color: black;
}

.cuteinsurgence-single-post {
  width: auto;
  height: auto;
  margin: 25px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.post-form-admin {
margin-right: 5px;
}

.post-description {
width: 450px;
margin-left: auto;
margin-right: auto;
margin-bottom: 25px;
font-weight: bold;
}

.category-font {
  font-weight: bold;
}

.cuteinsurgence-single-post-btns {
  margin: 5px;
 
}

.post-display-title {
font-weight: bold;
}

.post-display-category {
  font-style: oblique;
}


