.App {
  /* background-color:#ff5722; */
  padding-bottom: 50px;
  min-height: 970px;
  background-position: top;
  width: auto;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
  

body {
      width: 100%;
      height:100%;
      background: linear-gradient(-45deg, teal, aqua, #e73c7e,#ff5722);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
.whiteDivOrangeShadow{
  background-color: white;
  box-shadow: #ee5723 0px 2px 20px 10px;
  border-radius: 25px;
  padding-left: 50px;
}
.whiteDivGoldShadow{
  background-color: white;
  box-shadow: gold 0px 2px 20px 10px;
  border-radius: 25px;
  padding-left: 50px;
}

.componentBackground {
  color: #ee5723;
  background-color: #f8ccbd;
  border-radius: 25px;
  padding: 15px;
  margin-top: 25px;
  box-Shadow: gold 0px 10px 90px 10px
}
.card-style {
  box-shadow: #f18e14 2px 3px 20px 10px;
  border-radius: 25px;
}

.whiteDiv {
  width: auto;
  background-color: white;
  border-radius: 25px;
  padding: 15px 15px;
  margin: 20px;
}

.thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

.post-image{
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 400px; /* Set a small width */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.myscroll {
  height:700px;
  overflow-y: scroll;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.posts-all {
  box-shadow:#fff59d 0px 5px 15px;
  margin: 45px;
  border-radius: 10px;
  padding: 10px;
}

.posts-all-btn {
  margin: 15px;
 
}


.header-all {
  height: 330px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ANTONIO'S SECTION: AllPosts-post-display */

.cuteinsurgence-body-wrapper {
 
  margin: 15px;
}



/* This is the all content inside of the single post */
.AllPosts-post-display {

  margin: 25px;

}

.view-post-btn {
  color: black;
}

.cuteinsurgence-single-post {
  width: auto;
  height: auto;
  margin: 25px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 25px;

}
.post-form-admin {
margin-right: 5px;
}

.post-description {
width: 450px;
margin-left: auto;
margin-right: auto;
margin-bottom: 25px;
font-weight: bold;
}

.category-font {
  font-weight: bold;
}

.cuteinsurgence-single-post-btns {
  margin: 5px;
 
}

.post-display-title {
font-weight: bold;
}

.post-display-category {
  font-style: oblique;
}


